/* Define your variables */
:root {
  --thumb-height: 12px;
  --track-height: 2px;
  --track-progress-color: #007bff;
}

@layer components {
  /* Container class */
  .seek-bar {
    @apply w-full bg-transparent block appearance-none m-0 h-10 overflow-hidden cursor-default
  }
  .seek-bar:focus {
    @apply outline-none
  }

  /* Webkit */
  .seek-bar::-webkit-slider-runnable-track {
    @apply w-full h-1 bg-gradient-to-br from-zinc-300 to-zinc-400 rounded-full overflow-hidden;
  }
  .dark .seek-bar::-webkit-slider-runnable-track {
    @apply w-full h-1 bg-gradient-to-br from-zinc-700 to-zinc-600;
  }

  .seek-bar::-webkit-slider-thumb {
    @apply appearance-none h-3 w-3 bg-transparent rounded-full border-0 -mt-[0.25rem] transition-all duration-200;
  }
  .seek-bar::-webkit-slider-thumb {
    @apply shadow-[-3000px_0_0_3000px_rgb(14,165,233)] 
    /* box-shadow: -100px 0 0px 100px red; */
    /* -2px 0 0px 4px red,
    -3px 0 0px 4px red,
    -4px 0 0px 4px red,
    -5px 0 0px 4px red; */
  }
  .dark .seek-bar::-webkit-slider-thumb {
    @apply bg-transparent;
  }

  .seek-bar::-webkit-slider-runnable-track {
    @apply bg-transparent;
  }

  .seek-bar:hover, .seek-bar:focus {
    &::-webkit-slider-runnable-track {
      @apply block;
    }
    &::-webkit-slider-thumb {
      @apply block bg-transparent !important;
    }
    &::-ms-thumb {
      @apply block bg-sky-500 !important;
    }
  }  

  .dark .seek-bar:hover, .dark .seek-bar:focus {
    @apply cursor-default;

    &::-webkit-slider-thumb {
      @apply block bg-zinc-50;
    }
  }

  /* Firefox */
  .seek-bar::-moz-range-track,
  .seek-bar::-moz-range-progress {
    @apply rounded-full w-full h-1 bg-gradient-to-br from-zinc-600 to-zinc-500;
  }

  .seek-bar::-moz-range-thumb {
    @apply m-0 h-3 w-3 bg-transparent hidden rounded-full border-0 transition-colors duration-200;
  }

  .seek-bar:hover, .seek-bar:focus {
    &::-moz-range-progress {
      @apply bg-gradient-to-br from-sky-500 to-sky-600 cursor-default;
    }
    &::-moz-range-thumb {
      @apply block bg-zinc-700 !important;
    }
  }
  .dark .seek-bar:hover, .seek-bar:focus {
    &::-moz-range-thumb {
      @apply bg-zinc-50 !important;
    }
  }

  /* Internet Exploder */
  .seek-bar::-ms-track {
    /* color needed to hide track marks */
    @apply w-full h-1 border-0 text-transparent bg-transparent;
  }

  .seek-bar::-ms-fill-lower {
    @apply bg-gradient-to-br from-zinc-300 to-zinc-400;
  }
  .dark .seek-bar::-ms-fill-lower {
    @apply bg-gradient-to-br from-zinc-700 to-zinc-600
  }

  .seek-bar::-ms-fill-upper {
    @apply bg-gradient-to-br from-zinc-700 to-zinc-600
  }
  .dark .seek-bar::-ms-fill-upper {
    @apply bg-gradient-to-br from-zinc-300 to-zinc-400;
  }

  .seek-bar::-ms-thumb {
    @apply appearance-none h-3 w-3 bg-transparent hidden rounded-full border-0 top-0 m-0 shadow-none transition-colors duration-200;
  }

  .seek-bar:hover,
  .seek-bar:focus {
    &::-ms-thumb {
      @apply bg-zinc-50 !important;
    }
  }
}

/* Webkit cannot style progress so we fake it with a long shadow
on the thumb element */
/* @function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$track-progress-color};
  @if $i == 1 {
    @for $k from 2 through 3000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
} */
