<.settings_modal
  show={assigns[:live_action] in [:settings_general, :settings_appearance]}
  tab={
    if assigns[:live_action] == :settings_appearance,
      do: :appearance,
      else: :general
  }
  theme={@theme}
  current_user={assigns[:current_user]}
/>
<header class="px-4 sm:px-6 lg:px-8">
  <div class="
    grid grid-cols-3 items-center
    border-b border-zinc-300 dark:border-zinc-700 py-3 text-sm
  ">
    <div class="flex items-center justify-start">
      <.theme_hook_anchor />
      <div
        :if={
          assigns[:live_action] in [
            :index,
            :new,
            :settings_general,
            :settings_appearance
          ]
        }
        class="relative group"
      >
        <.link
          id="settings-btn"
          patch={~p"/sessions/rooms/settings/general"}
          class="text-tone-700 dark:text-tone-300 hover:text-tone-900 dark:hover:text-tone-50 transition-colors duration-150 cursor-pointer rounded focus:outline-none focus-ignite"
        >
          <.icon name="hero-cog-6-tooth" class="h-5 w-5" />
        </.link>
        <.tooltip position={:below} class="left-1/2 -translate-x-[65%] z-30">
          {gettext("Settings")}
        </.tooltip>
      </div>
    </div>
    <div class="flex items-center justify-center gap-3">
      <a href="/">
        <.livedj_logo theme={@theme} />
      </a>
      <.link
        class="cursor-default"
        target="_blank"
        href={"https://github.com/sgobotta/live_dj/releases/tag/v#{Application.spec(:livedj, :vsn)}"}
      >
        <.version_pill version={Application.spec(:livedj, :vsn)} />
      </.link>
    </div>
    <div class="flex items-center justify-end">
      <.user_avatar id="current-user-avatar" user={assigns[:current_user]} />
    </div>
  </div>
</header>
<main class="px-4 py-4 sm:px-6 lg:px-8 h-full">
  <div class="mx-auto max-w-2xl z-50">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
