<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Livedj"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
  </head>
  <body class="antialiased overflow-hidden bg-zinc-100 dark:bg-zinc-900">
    {@inner_content}
    <div
      id="video-player-hook"
      phx-hook="Youtube"
      phx-update="ignore"
      class="mx-1 w-[98%] h-72 relative flex my-2"
    >
      <div class="w-full">
        <div
          id="player-container"
          class="w-full h-72 rounded-lg transition duration-1000 hidden mr-1"
        />
      </div>
      <div
        id="player-backdrop"
        phx-hook="PlayerBackdrop"
        class="absolute w-full h-full bg-black rounded-lg overflow-hidden"
      >
        <canvas
          id="player-spinner"
          class="hidden absolute inset-0 w-full h-full rounded-lg"
        />
      </div>
    </div>
  </body>
</html>
