/**
 * Icon Animations
 */

  /**
   * Play/Pause/Loader buttons animations
   */

.player-control-spin .play-control-loader-asset-first-circle {
  -webkit-animation: three-points-loader-first-circle 2s infinite;
  -moz-animation: three-points-loader-first-circle 2s infinite;
  -ms-animation: three-points-loader-first-circle 2s infinite;
  -o-animation: three-points-loader-first-circle 2s infinite;
  animation: three-points-loader-first-circle 2s infinite;
}

.player-control-spin .play-control-loader-asset-second-circle {
  -webkit-animation: three-points-loader-second-circle 2s infinite;
  -moz-animation: three-points-loader-second-circle 2s infinite;
  -ms-animation: three-points-loader-second-circle 2s infinite;
  -o-animation: three-points-loader-second-circle 2s infinite;
  animation: three-points-loader-second-circle 2s infinite;
}

.player-control-spin .play-control-loader-asset-third-circle {
  -webkit-animation: three-points-loader-third-circle 2s infinite;
  -moz-animation: three-points-loader-third-circle 2s infinite;
  -ms-animation: three-points-loader-third-circle 2s infinite;
  -o-animation: three-points-loader-third-circle 2s infinite;
  animation: three-points-loader-third-circle 2s infinite;
}

@keyframes three-points-loader-first-circle {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  33% {
    opacity: 0;
    transform: scale(0.4);
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes three-points-loader-second-circle {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  33% {
    opacity: 1;
    transform: scale(1);
  }
  66% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 0;
  }
}

@keyframes three-points-loader-third-circle {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: scale(1);
  }
  66% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

@-webkit-keyframes three-points-loader-first-circle {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  33% {
    opacity: 0;
    transform: scale(0.4);
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes three-points-loader-second-circle {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  33% {
    opacity: 1;
    transform: scale(1);
  }
  66% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes three-points-loader-third-circle {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
    transform: scale(1);
  }
  66% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
}

  /**
   * Save queue buttons animations
   */

svg.queue-control-save-asset.animate-save-button-saved .queue-control-save-asset-save-layer {
  opacity: 0;
}

.queue-control-save-asset-checked-layer {
  opacity: 0;
}

svg.queue-control-save-asset.animate-save-button-saved .queue-control-save-asset-checked-layer {
  opacity: 1;
  stroke: $success;
  fill: $success;
  -webkit-animation: animate-success-button 1.5s normal;
  -moz-animation: animate-success-button 1.5s normal;
  -ms-animation: animate-success-button 1.5s normal;
  -o-animation: animate-success-button 1.5s normal;
  animation: animate-success-button 1.5s normal;
}

@-webkit-keyframes animate-success-button {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes animate-success-button {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/**
 * Accounts Settings Animation
 */

 .account-asset .account-table-asset-1 {
  -webkit-animation: display-table-1 1s infinite;
  -moz-animation: display-table-1 1s infinite;
  -ms-animation: display-table-1 1s infinite;
  -o-animation: display-table-1 1s infinite;
  animation: display-table-1 1s infinite;
}

@-webkit-keyframes display-table-1 {
  0% {
    stroke-opacity: 1;
    opacity: 1;
  }
  48% {
    stroke-opacity: 1;
    opacity: 1;
  }
  49% {
    stroke-opacity: 0;
    opacity: 0;
  }
  100% {
    stroke-opacity: 0;
    opacity: 0;
  }
}

@keyframes display-table-1 {
  0% {
    stroke-opacity: 1;
    opacity: 1;
  }
  48% {
    stroke-opacity: 1;
    opacity: 1;
  }
  49% {
    stroke-opacity: 0;
    opacity: 0;
  }
  100% {
    stroke-opacity: 0;
    opacity: 0;
  }
}

.account-table-asset-2 {
  opacity: 0;
  stroke-opacity: 0;
}

.account-asset .account-table-asset-2 {
  -webkit-animation: display-table-2 1s infinite;
  -moz-animation: display-table-2 1s infinite;
  -ms-animation: display-table-2 1s infinite;
  -o-animation: display-table-2 1s infinite;
  animation: display-table-2 1s infinite;
}

@-webkit-keyframes display-table-2 {
  0% {
    stroke-opacity: 0;
    opacity: 0;
  }
  49% {
    stroke-opacity: 0;
    opacity: 0;
  }
  50% {
    stroke-opacity: 1;
    opacity: 1;
  }
  100% {
    stroke-opacity: 1;
    opacity: 1;
  }
}

@keyframes display-table-2 {
  0% {
    stroke-opacity: 0;
    opacity: 0;
  }
  49% {
    stroke-opacity: 0;
    opacity: 0;
  }
  50% {
    stroke-opacity: 1;
    opacity: 1;
  }
  100% {
    stroke-opacity: 1;
    opacity: 1;
  }
}

/**
 * Payments Settings Animation
 */

.payment-asset .payments-asset-coins-1 {
  -webkit-animation: display-coins-1 2s infinite;
  -moz-animation: display-coins-1 2s infinite;
  -ms-animation: display-coins-1 2s infinite;
  -o-animation: display-coins-1 2s infinite;
  animation: display-coins-1 2s infinite;
}

@-webkit-keyframes display-coins-1 {
  0% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes display-coins-1 {
  0% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.payments-asset-coins-2 {
  opacity: 0;
}

.payment-asset .payments-asset-coins-2 {
  -webkit-animation: display-coins-2 2s infinite;
  -moz-animation: display-coins-2 2s infinite;
  -ms-animation: display-coins-2 2s infinite;
  -o-animation: display-coins-2 2s infinite;
  animation: display-coins-2 2s infinite;
}

@-webkit-keyframes display-coins-2 {
  0% {
    opacity: 0;
  }
  31% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes display-coins-2 {
  0% {
    opacity: 0;
  }
  31% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.payments-asset-coins-3 {
  opacity: 0;
}

.payment-asset .payments-asset-coins-3 {
  -webkit-animation: display-coins-3 2s infinite;
  -moz-animation: display-coins-3 2s infinite;
  -ms-animation: display-coins-3 2s infinite;
  -o-animation: display-coins-3 2s infinite;
  animation: display-coins-3 2s infinite;
}

@-webkit-keyframes display-coins-3 {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display-coins-3 {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.payment-asset .payments-asset-tree {
  -webkit-animation: moving-screen-1 1s linear infinite;
  -moz-animation: moving-screen-1 1s linear infinite;
  -ms-animation: moving-screen-1 1s linear infinite;
  -o-animation: moving-screen-1 1s linear infinite;
  animation: moving-screen-1 1s linear infinite;
}

.payment-asset .payments-asset-branch-1 {
  -webkit-animation: bounce-up-n-down 4s linear infinite reverse;
  -moz-animation: bounce-up-n-down 4s linear infinite reverse;
  -ms-animation: bounce-up-n-down 4s linear infinite reverse;
  -o-animation: bounce-up-n-down 4s linear infinite reverse;
  animation: bounce-up-n-down 4s linear infinite reverse;
}
.payment-asset .payments-asset-branch-2 {
  -webkit-animation: bounce-up-n-down 6s linear infinite reverse;
  -moz-animation: bounce-up-n-down 6s linear infinite reverse;
  -ms-animation: bounce-up-n-down 6s linear infinite reverse;
  -o-animation: bounce-up-n-down 6s linear infinite reverse;
  animation: bounce-up-n-down 6s linear infinite reverse;
}

@-webkit-keyframes bounce-up-n-down {
  0%, 100% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  15% {
    -ms-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
  }
  30% {
    -ms-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  45% {
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
  55% {
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  70% {
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes bounce-up-n-down {
  0%, 100% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  15% {
    -ms-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
  }
  30% {
    -ms-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  45% {
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
  55% {
    -ms-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  70% {
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.payment-asset .payments-asset-plant-1 {
  -webkit-animation: slight-stroke 4s linear infinite reverse;
  -moz-animation: slight-stroke 4s linear infinite reverse;
  -ms-animation: slight-stroke 4s linear infinite reverse;
  -o-animation: slight-stroke 4s linear infinite reverse;
  animation: slight-stroke 4s linear infinite reverse;
}

.payment-asset .payments-asset-plant-2 {
  -webkit-animation: slight-stroke 3s linear infinite alternate-reverse;
  -moz-animation: slight-stroke 3s linear infinite alternate-reverse;
  -ms-animation: slight-stroke 3s linear infinite alternate-reverse;
  -o-animation: slight-stroke 3s linear infinite alternate-reverse;
  animation: slight-stroke 3s linear infinite alternate-reverse;
}

@-webkit-keyframes slight-stroke {
  0%, 100% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  15% {
    -ms-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
  }
  45% {
    -ms-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  70% {
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
}

@keyframes slight-stroke {
  0%, 100% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  15% {
    -ms-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
  }
  45% {
    -ms-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  70% {
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
}

.payment-asset .payments-asset-money-sign {
  -webkit-animation: bounce-left-n-right 1s linear infinite reverse;
  -moz-animation: bounce-left-n-right 1s linear infinite reverse;
  -ms-animation: bounce-left-n-right 1s linear infinite reverse;
  -o-animation: bounce-left-n-right 1s linear infinite reverse;
  animation: bounce-left-n-right 1s linear infinite reverse;
}

@-webkit-keyframes bounce-left-n-right {
  0%, 100% {
    -ms-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  15% {
    -ms-transform: translateX(1px);
    -moz-transform: translateX(1px);
    -webkit-transform: translateX(1px);
    -o-transform: translateX(1px);
    transform: translateX(1px);
  }
  45% {
    -ms-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
  70% {
    -ms-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
  }
}

@keyframes bounce-left-n-right {
  0%, 100% {
    -ms-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  15% {
    -ms-transform: translateX(1px);
    -moz-transform: translateX(1px);
    -webkit-transform: translateX(1px);
    -o-transform: translateX(1px);
    transform: translateX(1px);
  }
  45% {
    -ms-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
  70% {
    -ms-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
  }
}

/**
 * Badge Settings Animations
 */

.badge-asset .badges-asset-star-3 {
  -webkit-animation: fill-star 1.3s linear infinite;
  -moz-animation: fill-star 1.3s linear infinite;
  -ms-animation: fill-star 1.3s linear infinite;
  -o-animation: fill-star 1.3s linear infinite;
  animation: fill-star 1.3s linear infinite;
}

@-webkit-keyframes fill-star {
  from {
    fill: none;
  }
  to {
    fill: #ffe680;
  }
}

@keyframes fill-star {
  from {
    fill: none;
  }
  to {
    fill: #ffe680;
  }
}

.badge-asset .badge-asset-spark {
  -webkit-animation: fill-spark 1.3s linear infinite;
  -moz-animation: fill-spark 1.3s linear infinite;
  -ms-animation: fill-spark 1.3s linear infinite;
  -o-animation: fill-spark 1.3s linear infinite;
  animation: fill-spark 1.3s linear infinite;
}

@-webkit-keyframes fill-spark {
  from {
    fill: none;
  }
  to {
    fill: #000;
  }
}

@keyframes fill-spark {
  from {
    fill: none;
  }
  to {
    fill: #000;
  }
}

.github-button-container:hover .github-button {
  display: inline-block;
  -webkit-animation: slide-left 1000ms forwards;
  animation: slide-left 1000ms forwards;
}

.github-button {
  display: none;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 2px;
}

@keyframes slide-left {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}
