@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts.css";
@import "./widgets/scrollbar.css";
@import "./widgets/slider.css";

/* This file is for your main application CSS */

.animate-text-overflow {
  animation: move 25s linear infinite;
}

@keyframes move {
    0%   { transform: translate(0, 0); }
    50%   { transform: translate(-20%, 0); }
    100% { transform: translate(0, 0); }
}