/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/**
 * Custom Styles
 */

.container{
  margin: 0 auto;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}

a.disabled i {
  color: grey
}

a.btn:hover {
  cursor: pointer
}

.row {

  &.search-result {
    padding: 1rem;
  }

  &.separator {
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #31708f;
  }
}

.section-container {
  padding: 25px;
  margin: 12px auto;
  clear:left;
  border: dotted rgba(0, 255, 0, 0.1) 1px;
}

.align-center {
  align-self: center;
}

.search-form {
  margin: 1.2rem;
}

.highlight {
  color: #31708f;
}

.pill {
  background-color: #31708f;
  border: 10px black;
  border-radius: 25px;
  align-items: center;

  &.current-video {
    background-color: #8558af;
  }
}

.queue-thumb {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.queue-thumb-icon {
  font-size: 50px !important; // It's not a default <i> element
}

div.row.pill:hover img.queue-thumb {
  display: none;
}

div.row.pill i.queue-thumb-icon {
  font-size: 100px;
  display: none;
}

div.row.pill:hover i.queue-thumb-icon {
  -webkit-animation: zoom-in 0.5s forwards;
  -webkit-animation-delay: 0.1s;
  animation: zoom-in 0.5s forwards;
  animation-delay: 0.1s;
  display: block;
}

@-webkit-keyframes zoom-in {
  0% { transform: scale(1) }
  25% { transform: scale(1.1) }
  100% { transform: scale(1.2) }
}

@keyframes zoom-in {
  0% { transform: scale(1); }
  25% { transform: scale(1.1); }
  100% { transform: scale(1.2); }
}

div.row.pill:hover p.pill-text {
  -webkit-animation: slide 0.3s forwards;
  -webkit-animation-delay: 0.1s;
  animation: slide 0.3s forwards;
  animation-delay: 0.1s;
}

@-webkit-keyframes slide {
  0% { padding-left: 5px; }
  10% { padding-left: 6px; }
  20% { padding-left: 7px; }
  30% { padding-left: 8px; }
  40% { padding-left: 9px; }
  50% { padding-left: 10px; }
  60% { padding-left: 11px; }
  70% { padding-left: 12px; }
  80% { padding-left: 13px; }
  90% { padding-left: 14px; }
  100% { padding-left: 15px; }
}

@keyframes slide {
  0% { padding-left: 5px; }
  10% { padding-left: 6px; }
  20% { padding-left: 7px; }
  30% { padding-left: 8px; }
  40% { padding-left: 9px; }
  50% { padding-left: 10px; }
  60% { padding-left: 11px; }
  70% { padding-left: 12px; }
  80% { padding-left: 13px; }
  90% { padding-left: 14px; }
  100% { padding-left: 15px; }
}

.pill-text {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickeable {
  cursor: pointer;
}

.row.pill.clickeable:hover {
  background-color: #e96eab;

  p {
    color: #000
  }
}

/**
 * Volume Control
 */

input[type=range] {
  width: 70%;
  // margin: 10.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -12.1px;
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #387ebd;
}
input[type=range]::-moz-range-track {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #2c6495;
  border: 1.6px solid #3271a9;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #3271a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #387ebd;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/**
 * Animations
 */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
