/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.section-container {
  padding: 25px;
  margin: 12px auto;
  clear:left;
  border: dotted rgba(0, 255, 0, 0.1) 1px;
}

.search-form {
  margin: 2rem;
}

.highlight {
  color: #31708f;
}

.pill {
  background-color: #31708f;
  border: 10px black;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  align-items: center;

  &.current-video {
    background-color: #8558af;
  }
}

.queue-thumb {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.pill-text {
  max-width: 250px; /* or some value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickeable {
  cursor: pointer;
}

/**
 * Volume Control
 */

input[type=range] {
  width: 70%;
  // margin: 10.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -12.1px;
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #387ebd;
}
input[type=range]::-moz-range-track {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.5px 0;
  color: transparent;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #2c6495;
  border: 1.6px solid #3271a9;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #3271a9;
  border: 1.6px solid #3271a9;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #3271a9;
  border: 3.2px solid #0571a9;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #3271a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #387ebd;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

/**
 * Animations
 */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
