.launcher-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  align-items: center;
	overflow: hidden;
}

.launcher-subcontainer, .launcher-subcontainer-ripple {
	width: 2px;
  height: 2px;
	transform: scale(20);
}

.launcher-loader *, .launcher-loader *:before, .launcher-loader *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.launcher-loader {
	width: 110px;
	height: 75px;
	margin-left: -55px;
	margin-top: -28px;
}
.launcher-loader > div {
  border-radius: 50px;
	float: left;
	background: $primary;
	height: 100%;
	width: 10px;
	margin-right: 1px;
}

.launcher-loader .launcher-loader-shaft1 {
	animation-delay: 0.06s;
		-o-animation-delay: 0.06s;
		-ms-animation-delay: 0.06s;
		-webkit-animation-delay: 0.06s;
		-moz-animation-delay: 0.06s;
}
.launcher-loader .launcher-loader-shaft2 {
	animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-moz-animation-delay: 0.12s;
}
.launcher-loader .launcher-loader-shaft3 {
	animation-delay: 0.17s;
		-o-animation-delay: 0.17s;
		-ms-animation-delay: 0.17s;
		-webkit-animation-delay: 0.17s;
		-moz-animation-delay: 0.17s;
}
.launcher-loader .launcher-loader-shaft4 {
	animation-delay: 0.23s;
		-o-animation-delay: 0.23s;
		-ms-animation-delay: 0.23s;
		-webkit-animation-delay: 0.23s;
		-moz-animation-delay: 0.23s;
}
.launcher-loader .launcher-loader-shaft5 {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.launcher-loader .launcher-loader-shaft6 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.launcher-loader .launcher-loader-shaft7 {
	animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
}
.launcher-loader .launcher-loader-shaft8 {
	animation-delay: 0.46s;
		-o-animation-delay: 0.46s;
		-ms-animation-delay: 0.46s;
		-webkit-animation-delay: 0.46s;
		-moz-animation-delay: 0.46s;
}
.launcher-loader .launcher-loader-shaft9 {
	animation-delay: 0.52s;
		-o-animation-delay: 0.52s;
		-ms-animation-delay: 0.52s;
		-webkit-animation-delay: 0.52s;
		-moz-animation-delay: 0.52s;
}
.launcher-loader .launcher-loader-shaft10 {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}

.launcher-loader > div {
	animation: cssload-jellyfish 1.73s infinite ease-in-out;
		-o-animation: cssload-jellyfish 1.73s infinite ease-in-out;
		-ms-animation: cssload-jellyfish 1.73s infinite ease-in-out;
		-webkit-animation: cssload-jellyfish 1.73s infinite ease-in-out;
		-moz-animation: cssload-jellyfish 1.73s infinite ease-in-out;
	transform: scaleY(0.05) translateX(-4px);
		-o-transform: scaleY(0.05) translateX(-4px);
		-ms-transform: scaleY(0.05) translateX(-4px);
		-webkit-transform: scaleY(0.05) translateX(-4px);
		-moz-transform: scaleY(0.05) translateX(-4px);
}


.launcher-subcontainer.hide-launcher-loader {
	animation: hide-launcher-loader-subcontainer-animation 2.0s infinite;
}

.launcher-subcontainer-ripple {
	transform: scale(3);
	animation: launcher-loader-ripple-animation 0.45s linear infinite;
}

.launcher-subcontainer-ripple.hide-launcher-loader {
	animation: none;
}

.launcher-logo.hide-launcher-loader {
	animation: launcher-logo-animation 2.0s;
}

.launcher-loader.hide-launcher-loader {
	animation: hide-launcher-loader-animation 2.0s;
}

@keyframes hide-launcher-loader-subcontainer-animation {
	0% {
    opacity: 1;
  }
	15% {
		transform: scale(100)
	}
	30% {
		opacity: 1;
	}
	50% {
		transform: scale(100);
		opacity: 1;
	}
  60% {
		transform: scale(2000);
    opacity: 1;
  }
  100% {
		transform: scale(2000);
    opacity: 1;
  }
}

@keyframes launcher-loader-ripple-animation {
	0% {
		opacity: 1;
    box-shadow: 0 0 0 0 rgba($neutral-darker, 0.3),
                0 0 0 1em rgba($neutral-darker, 0.3),
                0 0 0 3em rgba($neutral-darker, 0.3),
                0 0 0 5em rgba($neutral-darker, 0.3);
  }
  100% {
		opacity: 1;
    box-shadow: 0 0 0 1em rgba($neutral-darker, 0.3),
                0 0 0 3em rgba($neutral-darker, 0.3),
                0 0 0 5em rgba($neutral-darker, 0.3),
                0 0 0 8em rgba($neutral-darker, 0);
  }
}

@keyframes launcher-logo-animation {
	0% {
		margin-top: -1rem;
		margin-left: -13rem;
    opacity: 1;
  }
	15% {
		margin-top: -7rem;
		margin-left: -10rem;
	}
	50% {
		transform: scale(0.7);
	}
	60% {
		transform: scale(1);
	}
	90% {
		opacity: 1;
	}
  100% {
		transform: scale(1);
    opacity: 0;
		margin-top: -7rem;
		margin-left: -10rem;
  }
}

@keyframes hide-launcher-loader-animation {
  0% {
    opacity: 1;
		transform: scaleY(1.0);
  }
	30% {
		transform: scaleY(0.0);
		opacity: 0;
	}
	40% {
		transform: scaleY(0.0);
		opacity: 0;
	}
	80% {
		transform: scaleY(0.0);
		opacity: 0;
	}
  100% {
		transform: scaleY(0.0);
		opacity: 0;
  }
}

@keyframes cssload-jellyfish {
	10% {
		background: $primary;
	}
	15% {
		transform: scaleY(1.2) translateX(8px);
		background: $secondary;
	}
	90%, 100% {
		transform: scaleY(0.05) translateX(-4px);
	}
}

@-o-keyframes cssload-jellyfish {
	10% {
		background: $primary;
	}
	15% {
		-o-transform: scaleY(1.2) translateX(8px);
		background: $secondary;
	}
	90%, 100% {
		-o-transform: scaleY(0.05) translateX(-4px);
	}
}

@-ms-keyframes cssload-jellyfish {
	10% {
		background: $primary;
	}
	15% {
		-ms-transform: scaleY(1.2) translateX(8px);
		background: $secondary;
	}
	90%, 100% {
		-ms-transform: scaleY(0.05) translateX(-4px);
	}
}

@-webkit-keyframes cssload-jellyfish {
	10% {
		background: $primary;
	}
	15% {
		-webkit-transform: scaleY(1.2) translateX(8px);
		background: $secondary;
	}
	90%, 100% {
		-webkit-transform: scaleY(0.05) translateX(-4px);
	}
}

@-moz-keyframes cssload-jellyfish {
	10% {
		background: $primary;
	}
	15% {
		-moz-transform: scaleY(1.2) translateX(8px);
		background: $secondary;
	}
	90%, 100% {
		-moz-transform: scaleY(0.05) translateX(-4px);
	}
}
