/**
 * Progressive range input
 */

$height: 40px;
$thumb-height: 22px;
$thumb-hover-height: 22px;
$track-height: 6px;

// Colors
$track-color: $text;
$upper-color: #cfcfcf;
$lower-color: #bbb;
$track-progress-color: $neutral-dark;
$track-progress-hover-color: $primary-light;

$upper-background: linear-gradient(to bottom, $upper-color, $track-progress-color) 100% 50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
$hover-lower-moz-background: linear-gradient(to bottom, $track-progress-hover-color, $primary) 100% 50% / 100% $track-height no-repeat transparent;

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$track-progress-color};
  @if $i == 1 {
    @for $k from 2 through 3000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
}

.slider-form {
  margin: 0;

  width: 50%;
  
  @media (max-width: 480px) {
    width: 90%;
  }
  @media (max-width: 768px) {
    width: 80%;
  }
}

.progressive-slider {
  background-color: transparent;
  display: block;
  appearance: none;
  margin: 0;
  height: $height;
  overflow: hidden;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

// Webkit
.progressive-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: $height;
  background: $lower-background;
}

.progressive-slider::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: transparent;
  border-radius: 100%;
  border: 0;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
.progressive-slider::-moz-range-track,
.progressive-slider::-moz-range-progress {
  border-radius: 50px;
  width: 100%;
  height: $track-height;
  background: $track-progress-color;
}

.progressive-slider::-moz-range-progress {
  background: $lower-background;
}

.progressive-slider::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: transparent;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
}

// Internet Exploder
.progressive-slider::-ms-track {
  width: 100%;
  height: $height;
  border: 0;
  // color needed to hide track marks
  color: transparent;
  background: transparent;
}

.progressive-slider::-ms-fill-lower {
  background: $lower-background;
}

.progressive-slider::-ms-fill-upper {
  background: $upper-background;
}

.progressive-slider::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: transparent;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}

.progressive-slider:hover,
.progressive-slider:focus {

  &::-webkit-slider-runnable-track {
    background: $hover-lower-moz-background;
    height: $track-height;
  }

  &::-moz-range-progress {
    background: $hover-lower-moz-background;
  }  

  &::-webkit-slider-thumb {
    background-color: $track-color;
  }
  &::-moz-range-thumb {
    background-color: $track-color;
  }
  &::-ms-thumb {
    background-color: $track-color;
  }
}
