
$sidebar-primary: #dedcdc;

.sidebar-primary {
  color: $sidebar-primary;
}

.sidebar {
  li {
    margin: 0px !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  li button {
    margin-right: 0px;
  }

  li:hover {
    button {
      color: $primary-light;
    }
  }

  .divide-list-element {
    li {
      border-top-color: #121212;
    }
  }

  button, button:hover {
    background-color: #222;
  }

  i.fas {
    font-size: 1.875rem
  }

  span.dashboard-button-text {
    @media (max-width: 640px) {
      
    }
    @media (min-width: 768px) {
      
    }
    @media (min-width: 1024px) {
      
    }
    @media (min-width: 1280px) {
      
    }
    @media (min-width: 1536px) {
      
    }
  }
}

/* Add this shadow in tailwind.config.js */
.sidebar-shadow {
  box-shadow: -4px -4px 10px #121212, 4px 4px 10px rgba(0, 0, 0, 0.6);
}
/* Rotate chevron in collapsing */
[data-bs-toggle='collapse'][aria-expanded='true'] span:nth-child(3) svg {
  transform: rotate(-90deg);
}

/* For bootstrap collapse plugin */
.fade {
  transition: opacity 0.15s linear;
}
.fade:not(.show) {
  opacity: 0;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
  .fade {
    transition: none;
  }
}
.button-effect {
  box-shadow: -4px -4px 10px #35393a, 4px 4px 10px #070808;
}
.button-effect:hover, .nav-button-effect:hover {
  box-shadow: inset -4px -4px 10px #323637, inset 4px 4px 10px #080a0a;
}
.button-effect:hover > svg,
.button-effect:focus > svg {
  transform: scale(.95)
}
