<main role="main" class="my-24">
  <p class="alert alert-info mt-10" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger mt-10" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
