<main
  role="main-header"
  class="
    absolute mx-5
    -inset-x-0.5 top-20 lg:left-auto lg:right-0 lg:top-2
  "
>
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

</main>
<%= @inner_content %>
