<%= if connected?(@socket) do %>
  <%= if @player do %>
    <div
      id={@player_controls_id}
      class="
        bg-zinc-100 dark:bg-zinc-900
        border-t-[1px] border-zinc-300 dark:border-zinc-700
        h-26
      "
    >
      <%!-- Player Details --%>
      <div class="grid grid-cols-12 grid-rows-2 py-1 text-sm justify-center">
        <div class="col-span-3 row-span-2 self-center pl-1">
          <div class="flex items-center h-full">
            <div class="
              basis-28 sm:basis-28 md:basis-28 lg:basis-24 xl:basis-24 2xl:basis-24
              h-14 w-14 ring-0 ring-white m-0 pl-2">
              <%= if @player.media_thumbnail_url != "" do %>
                <img
                  class="h-14 w-14 rounded-md ring-0 ring-white"
                  src={@player.media_thumbnail_url}
                />
              <% else %>
                <div class="h-14 w-14 rounded-md ring-0 ring-white bg-gray-200 dark:bg-gray-800 animate-pulse" />
              <% end %>
            </div>
            <div class="
              md:flex md:flex-col hidden
              basis-full justify-center
              h-16 ring-0 ring-white m-1
              cursor-default
            ">
              <%= if media_loaded?(@player.media_id) do %>
                <div class="overflow-hidden box-border">
                  <p class="text-zinc-900 dark:text-zinc-100 font-semibold text-sm h-5 animate-text-overflow">
                    {@player.title}
                  </p>
                </div>
                <p class="text-zinc-700 dark:text-zinc-300 font-normal text-xs overflow-hidden text-ellipsis h-5">
                  {@player.channel}
                </p>
              <% else %>
                <div class="flex flex-col gap-2">
                  <div class="h-5 w-full bg-gray-200 dark:bg-gray-800 rounded animate-pulse">
                  </div>
                  <div class="fill h-5 w-full bg-gray-200 dark:bg-gray-800 rounded animate-pulse">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%!-- Playback Controls --%>
        <div class="col-span-6 row-span-1 w-full flex justify-center items-center">
          <div class="flex items-center gap-4 h-10">
            <a
              href="#"
              phx-click="previous"
              class="cursor-pointer h-8 w-8 flex justify-center items-center"
              tabindex="0"
            >
              {PhoenixInlineSvg.Helpers.svg_image(
                LivedjWeb.Endpoint,
                "back",
                "icons/player",
                class: "
                  h-6 w-6 stroke-2
                  fill-zinc-700 hover:fill-zinc-500 active:fill-zinc-700 focus:fill-zinc-700
                  dark:fill-zinc-300 dark:hover:fill-zinc-50 dark:active:fill-zinc-300 dark:focus:fill-zinc-300
                "
              )}
            </a>
            <%= if @player && @player.state in [:playing] do %>
              <a
                id="pause-btn"
                href="#"
                phx-click={on_pause_click_event()}
                class="cursor-pointer rounded-full h-10 w-10 flex justify-center items-center hover:scale-105"
                tabindex="0"
              >
                <.icon
                  name="hero-pause-circle-solid"
                  class="h-10 w-10 text-zinc-700 active:scale-[1.1] focus:scale-[1.1] dark:text-zinc-50"
                />
              </a>
            <% end %>
            <%= if @player && @player.state in [:idle, :paused] do %>
              <a
                id="play-btn"
                href="#"
                phx-click={on_play_click_event()}
                class="cursor-pointer rounded-full h-10 w-10 flex justify-center items-center hover:scale-105"
                tabindex="0"
              >
                <.icon
                  name="hero-play-circle-solid"
                  class="h-10 w-10 text-zinc-700 active:scale-[1.1] focus:scale-[1.1] dark:text-zinc-50"
                />
              </a>
            <% end %>
            <a
              href="#"
              phx-click="next"
              class="cursor-pointer h-8 w-8 flex justify-center items-center"
              tabindex="0"
            >
              {PhoenixInlineSvg.Helpers.svg_image(
                LivedjWeb.Endpoint,
                "next",
                "icons/player",
                class: "
                  h-6 w-6 stroke-2
                  fill-zinc-700 hover:fill-zinc-500 active:fill-zinc-700 focus:fill-zinc-700
                  dark:fill-zinc-300 dark:hover:fill-zinc-50 dark:active:fill-zinc-300 dark:focus:fill-zinc-300
                "
              )}
            </a>
          </div>
        </div>

        <%!-- Actions --%>
        <div class="
          col-span-3 row-span-2 self-center pl-2 pr-3 w-full
          flex justify-end gap-3 items-center
        ">
          <%!-- Search videos --%>
          <.link
            patch={~p"/sessions/rooms/#{@room}/browse"}
            class="
              rounded-md
              cursor-pointer w-6 h-6 p-0 flex flex-wrap justify-center content-center
              align-middle bg-zinc-300 dark:bg-zinc-700
              transition-all duration-300
              shadow-[2.0px_2.0px_1px_0.5px_rgba(24,24,27,0.5)]
              hover:shadow-[1.5px_1.5px_1px_0.5px_rgba(24,24,27,0.9)]
              active:shadow-[0.5px_0.5px_1px_0.5px_rgba(24,24,27,0.2)]
              dark:shadow-[1.5px_1.5px_1px_0.5px_rgba(250,250,255,0.4)]
              dark:hover:shadow-[1.5px_1.5px_1px_0.5px_rgba(250,250,255,0.6)]
              dark:active:shadow-[0.5px_0.5px_1px_0.5px_rgba(250,250,255,0.2)]
              hover:bg-zinc-300 dark:hover:bg-zinc-700
              active:bg-zinc-200 dark:active:bg-zinc-800 group
              text-zinc-900 dark:text-zinc-100
              active:text-green-500 dark:active:text-green-500
            "
          >
            <.icon name="hero-plus" class="w-4 h-4" />
          </.link>
          <%!-- Volume --%>
          <.live_component
            id={@volume_control_id}
            module={LivedjWeb.Components.PlayerControls.VolumeControlComponent}
            level={@volume_level}
            muted?={@volume_muted}
          />
          <%!-- Fullscreen --%>
          <.live_component
            id={@fullscreen_control_id}
            module={
              LivedjWeb.Components.PlayerControls.FullscreenControlComponent
            }
          />
        </div>

        <%!-- Seek bar --%>
        <div
          class="col-span-6 row-span-1 w-full flex justify-center"
          id="seek-bar-container"
          phx-update="ignore"
        >
          <div class="flex items-center justify-center h-12 w-full text-[0.725rem] text-zinc-600 dark:text-zinc-400 cursor-default">
            <div class="inline-flex items-center justify-center pl-2 w-10">
              <span id={@start_time_tracker_id}>
                {render_default_seek_bar_value()}
              </span>
            </div>
            <form class="w-full p-4">
              <input
                tabindex="0"
                class="seek-bar w-full"
                id={@time_slider_id}
                value="0"
                type="range"
                min="0"
                max="100"
                step="1"
              />
            </form>
            <div class="inline-flex items-center justify-center pr-2 w-10">
              <span id={@end_time_tracker_id}>
                {render_default_seek_bar_value()}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
