<%= if connected?(@socket) do %>
  <div id="track-notifications" phx-hook="TrackNotifications" class="hidden" />

  <%= if @player do %>
    <div
      id={@player_controls_id}
      class="
        bg-tone-100 dark:bg-tone-900
        border-t-[1px] border-tone-300 dark:border-tone-700
        h-26
      "
    >
      <%!-- Player Details --%>
      <div class="grid grid-cols-12 grid-rows-2 py-1 text-sm justify-center">
        <div class="col-span-3 row-span-2 self-center pl-1">
          <div class="flex items-center h-full">
            <div class="
              relative group
              basis-28 sm:basis-28 md:basis-28 lg:basis-24 xl:basis-24 2xl:basis-24
              h-14 w-14 ring-0 ring-white m-0 pl-2">
              <%= if @player.media_thumbnail_url != "" do %>
                <img
                  class="h-14 w-14 rounded-md ring-0 ring-white"
                  src={@player.media_thumbnail_url}
                />
              <% else %>
                <div class="h-14 w-14 rounded-md ring-0 ring-white bg-gray-200 dark:bg-gray-800 animate-pulse" />
              <% end %>
              <%= if media_loaded?(@player.media_id) do %>
                <.tooltip class="left-2 max-w-[200px] md:hidden">
                  <span class="block font-semibold truncate">
                    {@player.title}
                  </span>
                  <span class="block truncate opacity-75">
                    {@player.channel}
                  </span>
                </.tooltip>
              <% end %>
            </div>
            <div class="
              md:flex md:flex-col hidden
              basis-full justify-center
              h-16 ring-0 ring-white m-1
              cursor-default
            ">
              <%= if media_loaded?(@player.media_id) do %>
                <div class="overflow-hidden box-border">
                  <p class="text-tone-900 dark:text-tone-100 font-semibold text-sm h-5 animate-text-overflow">
                    {@player.title}
                  </p>
                </div>
                <p class="text-tone-700 dark:text-tone-300 font-normal text-xs overflow-hidden text-ellipsis h-5">
                  {@player.channel}
                </p>
              <% else %>
                <div class="flex flex-col gap-2">
                  <div class="h-5 w-full bg-gray-200 dark:bg-gray-800 rounded animate-pulse">
                  </div>
                  <div class="fill h-5 w-full bg-gray-200 dark:bg-gray-800 rounded animate-pulse">
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%!-- Playback Controls --%>
        <div class="col-span-6 row-span-1 w-full flex justify-center items-center">
          <div class="flex items-center gap-4 h-10">
            <a
              href="#"
              phx-click="previous"
              class="
                cursor-pointer h-8 w-8 rounded-full flex justify-center items-center
                focus:outline-none focus-ignite
"
              tabindex="0"
            >
              {PhoenixInlineSvg.Helpers.svg_image(
                LivedjWeb.Endpoint,
                "back",
                "icons/player",
                class: "
                  h-6 w-6 stroke-2
                  fill-tone-700 hover:fill-tone-500 active:fill-tone-700 focus:fill-tone-700
                  dark:fill-tone-300 dark:hover:fill-tone-50 dark:active:fill-tone-300 dark:focus:fill-tone-300
                "
              )}
            </a>
            <%= if @player && @player.state in [:playing, :idle, :paused] do %>
              <div class="relative group">
                <a
                  id="play-pause-btn"
                  href="#"
                  phx-click={
                    if @player.state == :playing,
                      do: on_pause_click_event(),
                      else: on_play_click_event()
                  }
                  class="
                    cursor-pointer rounded-full h-10 w-10 flex justify-center items-center hover:scale-105
                    focus:outline-none focus-ignite
"
                  tabindex="0"
                >
                  <.icon
                    name={
                      if @player.state == :playing,
                        do: "hero-pause-circle-solid",
                        else: "hero-play-circle-solid"
                    }
                    class="h-10 w-10 text-tone-700 active:scale-[1.1] focus:scale-[1.1] dark:text-tone-50"
                  />
                </a>
                <.tooltip>
                  {if @player.state == :playing,
                    do: gettext("Pause"),
                    else: gettext("Play")} (␣)
                </.tooltip>
              </div>
            <% end %>
            <a
              href="#"
              phx-click="next"
              class="
                cursor-pointer h-8 w-8 rounded-full flex justify-center items-center
                focus:outline-none focus-ignite
"
              tabindex="0"
            >
              {PhoenixInlineSvg.Helpers.svg_image(
                LivedjWeb.Endpoint,
                "next",
                "icons/player",
                class: "
                  h-6 w-6 stroke-2
                  fill-tone-700 hover:fill-tone-500 active:fill-tone-700 focus:fill-tone-700
                  dark:fill-tone-300 dark:hover:fill-tone-50 dark:active:fill-tone-300 dark:focus:fill-tone-300
                "
              )}
            </a>
          </div>
        </div>

        <%!-- Actions --%>
        <div class="
          col-span-3 row-span-2 self-center pl-2 pr-3 w-full
          flex justify-end gap-3 items-center
        ">
          <%!-- Search videos --%>
          <div class="relative group">
            <.link
              id="add-btn"
              phx-hook="AddButton"
              patch={~p"/sessions/rooms/#{@room}/browse"}
              class="
                rounded-md
                cursor-pointer w-6 h-6 p-0 flex flex-wrap justify-center content-center
                align-middle bg-tone-300 dark:bg-tone-700
                transition-all duration-300
                shadow-[2.0px_2.0px_1px_0.5px_rgba(24,24,27,0.5)]
                hover:shadow-[1.5px_1.5px_1px_0.5px_rgba(24,24,27,0.9)]
                active:shadow-[0.5px_0.5px_1px_0.5px_rgba(24,24,27,0.2)]
                dark:shadow-[1.5px_1.5px_1px_0.5px_rgba(250,250,255,0.4)]
                dark:hover:shadow-[1.5px_1.5px_1px_0.5px_rgba(250,250,255,0.6)]
                dark:active:shadow-[0.5px_0.5px_1px_0.5px_rgba(250,250,255,0.2)]
                hover:bg-tone-300 dark:hover:bg-tone-700
                active:bg-tone-200 dark:active:bg-tone-800
                text-tone-900 dark:text-tone-100
                active:text-green-500 dark:active:text-green-500
                focus:outline-none focus-ignite
"
            >
              <.icon name="hero-plus" class="w-4 h-4" />
            </.link>
            <.tooltip>{gettext("Add")} (A)</.tooltip>
          </div>
          <%!-- Volume --%>
          <.live_component
            id={@volume_control_id}
            module={LivedjWeb.Components.PlayerControls.VolumeControlComponent}
            level={@volume_level}
            muted?={@volume_muted}
          />
          <%!-- Fullscreen --%>
          <.live_component
            id={@fullscreen_control_id}
            module={
              LivedjWeb.Components.PlayerControls.FullscreenControlComponent
            }
          />
        </div>

        <%!-- Seek bar --%>
        <div
          class="col-span-6 row-span-1 w-full flex justify-center"
          id="seek-bar-container"
          phx-update="ignore"
        >
          <div class="flex items-center justify-center h-12 w-full text-[0.725rem] text-tone-600 dark:text-tone-400 cursor-default">
            <div class="inline-flex items-center justify-center pl-2 w-10">
              <span id={@start_time_tracker_id}>
                {render_default_seek_bar_value()}
              </span>
            </div>
            <form class="w-full p-4">
              <div class="custom-slider">
                <input
                  tabindex="0"
                  class="custom-slider-input"
                  id={@time_slider_id}
                  value="0"
                  type="range"
                  min="0"
                  max="100"
                  step="any"
                />
                <div class="custom-slider-track">
                  <div class="custom-slider-fill"></div>
                  <div class="custom-slider-hover-fill"></div>
                  <div class="custom-slider-thumb"></div>
                </div>
              </div>
            </form>
            <div class="inline-flex items-center justify-center pr-2 w-10">
              <span id={@end_time_tracker_id}>
                {render_default_seek_bar_value()}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
