<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live DJ! 🎶</title>
    <link rel="stylesheet" href="/css/app.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li>
              <a
                class="github-button"
                href="https://github.com/sgobotta/live_dj"
                data-color-scheme="no-preference: light; light: light; dark: light;"
                data-size="large"
                data-show-count="true"
                aria-label="Star sgobotta/live_dj on GitHub"
              >Star</a>
            </li>
          </ul>
        </nav>
        <ul>
          <li class="navbar-link"><%= link "Home", to: "/" %></li>
          <li class="navbar-link">
            <%= link "Donate", to: Routes.donations_path(@conn, :index) %>
          </li>
        </ul>
        <h2>Live DJ</h2>
      </section>
    </header>

    <div class="p-4">
      <div class="bg-white rounded-md hero-wrapper grid grid-cols-1 md:grid-cols-12 gap-8 items-center center">

        <div class="hero-text col-span-6">
          <h1
            class="p-8 font-bold text-4xl md:text-5xl max-w-xl text-gray-900 leading-tight">
            Oops!
          </h1>
          <hr class="w-24 h-1 bg-primary rounded-full mt-4">
          <p class="p-8 text-gray-800 leading-relaxed mt-8 font-semibold text-2xl">
            The page you were looking for doesn't exist or the link you clicked may be broken.
          </p>
        </div>

        <div class="hero-image col-span-6 w-3/4">
          <%= PhoenixInlineSvg.Helpers.svg_image(@conn, "searching") %>
        </div>

      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
